.burger {
  width: 25px;
  height: 25px;
  position: relative;
  display: block;
  margin: 100px auto 100px auto;
}

.line {
  display: block;
  background: black;
  width: 100px;
  height: 8px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.line1 {
  top: 0;
}

.line2 {
  top: 50%;
}

.line3 {
  top: 100%;
}

.burger:hover .line1,
.burger:focus .line1 {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
}

.burger:hover .line3,
.burger:focus .line3 {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
}

.active .line1 {
  transform: translateY(25px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(25px) translateX(0) rotate(45deg);
  -moz-transform: translateY(25px) translateX(0) rotate(45deg);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: translateY(-25px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-25px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-25px) translateX(0) rotate(-45deg);
}
