.footer {
  height: var(--footer-height);
  background-color: var(--color-off-white);
  border-top: 1px solid black;
}

.inner {
  height: 100%;
  margin: auto var(--spacing-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
