html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  color: var(--color-black);
  background-color: var(--color-off-white);
}

body {
  background-color: var(--color-off-white);
  min-height: 100%;
}

h1 {
  font-family: var(--font-forma-banner);
  font-weight: bold;
  font-size: 27.5rem;
  line-height: 22rem;
  letter-spacing: 0;
}

@media only screen and (max-width: 1700px) {
  h1 {
    font-size: 15vw;
    line-height: 12vw;
  }
}

@media only screen and (max-width: 896px) {
  h1 {
    font-size: 14.4vw;
  }
}

h2 {
  font-family: var(--font-forma-banner);
  font-style: normal;
  font-weight: 500;
  font-size: 26rem;
  line-height: 22rem;
  letter-spacing: 0;
}

@media only screen and (max-width: 1700px) {
  h2 {
    font-size: 15vw;
    line-height: 12vw;
  }
}

h3 {
  font-family: var(--font-forma-banner);
  font-weight: 500;
  font-style: normal;
  font-size: 12.5rem;
  line-height: 11rem;
  letter-spacing: 0;
}

@media only screen and (max-width: 1700px) {
  h3 {
    font-size: 8vw;
  }
}

h4 {
  font-family: var(--font-forma-text);
  font-weight: 500;
  font-style: normal;
  font-size: 4.8rem;
  line-height: 7.5rem;
  letter-spacing: 0;
}

h5 {
  font-family: var(--font-forma-text);
  font-weight: normal;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 7.5rem;
  letter-spacing: 0;
}

@media only screen and (max-width: 1700px) {
  h5 {
    font-size: 3vw;
  }
}

p {
  font-family: var(--font-forma-text);
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: var(--color-black);
}
