.secondaryMenu {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  position: relative;
  height: 300px;
  background: var(--color-off-white);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}
