.showsComponent {
  position: relative;
  width: 100%;
  min-width: 500px;
  height: 50vh;
  border: 2px solid white;
  color: var(--color-off-white);
  background-color: black;
  opacity: 0.8;
}

.contentWrapper {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.title {
  max-width: 1600px;
  margin: auto;
  text-align: center;
}

.wrapper {
  margin: 0 0.5rem;
  padding: 8vw 0;
}
