.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1001;
  background-color: black;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.closeContainer {
  z-index: 1001;
  position: fixed;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  color: white;
}

.closeContainer p {
  font-size: 2.5rem;
}

.bottomBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  background: black;
  width: 100%;
  bottom: 0px;
}

.bottomBar p {
  font-size: 2.5rem;
}

.mouseTrap {
  z-index: 1002;
  position: absolute;
  top: 3.5rem;
  bottom: 3.5rem;
  left: 0;
  right: 0;
}

.mouseTrapInner {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  opacity: 80%;
}

.prevCursor {
  cursor: pointer;
}

.nextCursor {
  cursor: pointer;
}

.soundBox {
  cursor: pointer;
}
