.wrapper {
}

.videoContainer {
  cursor: pointer;
  position: relative;
  padding-top: 56.25%;
}

.videoContainer :global(.react-player) {
  position: absolute;
  top: 0;
  left: 0;
}

.playLink {
  cursor: pointer;
  margin: auto;
}

.videoOverlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton {
  stroke: white;
  stroke-width: 0.4px;
  fill: white;
  height: 8vw;
  width: 8vw;
}

.pauseButton {
  stroke: white;
  stroke-width: 1px;
  fill: white;
  height: 10rem;
  width: 10rem;
}

.soundOnButton {
  stroke: white;
  stroke-width: 1px;
  fill: white;
  height: 5vw;
  width: 5vw;
}

.soundOffButton {
  stroke: white;
  stroke-width: 1px;
  fill: white;
  height: 5vw;
  width: 5vw;
}

.soundOnSoundOff {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.controlsAndTitleWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.vidPicker {
  display: flex;
}

.pauseAndSoundWrapper {
  display: flex;
}

.pauseAndSound {
  padding: var(--spacing-3);
  cursor: pointer;
}

.vid {
  padding: var(--spacing-3);
  color: var(--color-light-grey);
  cursor: pointer;
}

.vid:hover {
  color: var(--color-black);
}

.vidActive {
  color: var(--color-black);
}

.title {
  text-align: center;
}
