.wrapper {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.videoWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: table;
}

.cursorTrap {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.modalVideoInner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.soundOnSoundOff {
  cursor: pointer;
  text-align: center;
  margin-top: 2rem;
}

.bar {
  position: absolute;
  top: 0px;
  z-index: 1001;
  justify-content: space-between;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  width: 100%;
}

.bottomBar {
  position: absolute;
  z-index: 1001;
  justify-content: space-between;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  width: 100%;
  bottom: 0px;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.control {
  cursor: pointer;
  display: flex;
}

@media only screen and (max-width: 868px) {
  .control p {
    font-size: var(--font-size-xl);
  }
}

.prevNext {
  cursor: pointer;
}

.upperCaseTitle {
  text-transform: uppercase;
}

.videoBox {
  position: relative;
  width: 80%;
  height: 80%;
}

@media only screen and (max-width: 1280px) {
  .videoBox {
    width: 100%;
    height: 100%;
  }
}
