.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: black;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.closeContainer {
  z-index: 1001;
  position: fixed;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  color: white;
}

.closeContainer p {
  font-size: 2.5rem;
}
