.wrapper {
}

@media only screen and (max-width: 828px) {
  .wrapper {
    margin: 0;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: 828px) {
  .imageWrapper {
    height: 400px;
  }
}

.text {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 15rem;
}

@media only screen and (max-width: 828px) {
  .text {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}

.headline {
  width: 85%;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 828px) {
  .headline {
    width: 100%;
  }
}

.info {
  width: 65%;
}

@media only screen and (max-width: 828px) {
  .info {
    width: 100%;
  }
}

.largeBody {
  font-size: var(--font-size-p-large);
  line-height: 9rem;
  letter-spacing: -0.2rem;
}

@media only screen and (max-width: 828px) {
  .largeBody {
    font-size: 12vw;
    line-height: 1;
  }
}

.aboutText {
  font-weight: 400;
}

@media only screen and (min-width: 829px) {
  .aboutText {
    letter-spacing: 0.1rem;
  }
}

.boldAboutText {
  font-weight: 600;
}

@media only screen and (min-width: 829px) {
  .boldAboutText {
    letter-spacing: 0.1rem;
  }
}
