.mobileFooterWrapper {
  display: block;
}

.desktopFooterWrapper {
  display: none;
}

@media only screen and (min-width: 829px) {
  .mobileFooterWrapper {
    display: none;
  }

  .desktopFooterWrapper {
    display: block;
  }
}
