.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 4rem;
}

.selector {
  cursor: pointer;
  padding-bottom: 1.5rem;
}

.selector.active {
  opacity: 100%;
}

.selector:not(.active) {
  opacity: 50%;
}

@media only screen and (max-width: 828px) {
  .selector {
    padding-bottom: 0;
    padding-right: 2rem;
  }
}

.selection {
  margin-top: 6rem;
}

@media only screen and (max-width: 828px) {
  .selection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10rem;
    margin: 0;
  }
}

.mobileWrapper {
  margin-top: 4rem;
}

.mobileSelection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.mobileContent {
}

.content {
}
