.vidWrapper {
  display: block;
  margin: 10rem 2rem;
}

.title {
  color: white;
}

.movie {
  margin: 0 auto;
}

.order {
  color: white;
  align-self: flex-start;
}

.textWrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.textWrapper p {
  font-size: 1.5rem;
}
